* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Archivo", sans-serif;
}

#hero-section {
    background-image: url(../assets/images/donation2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero-content {
    text-align: center;
    z-index: 100;
}

.hero-content h1 {
    font-size: 70px;
    color: white;
}

.hero-content p {
    font-size: 20px;
    color: rgb(231, 231, 231);
}

.btn {
    padding: 17px 20px;
    background-color: #ff5959;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Donation Section */
#donation-section {
    height: 100vh;
    width: 10vw;
}
.donation-content {
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donation-title {
    font-size: 70px;
}

.donation-subtitle {
    margin: 20px 0;
    font-size: 20px;
    color: #707070;
}

.donation-btn {
    margin: 20px;
    padding: 40px 30px;
    color: #707070;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.donation-btn:hover {
    color: #ff5959;
    border: 1px solid #ff5959;
    background-color: #ffeeee;
}
input {
    height: 60px;
    border: none;
    font-size: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
input:hover {
    border: none;
    outline: none;
}

/* Donation Plan Section */
#donation-plan {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 350px;
    width: 350px;
    padding: 30px 25px;
    border-radius: 5px;
    text-align: left;
    margin: 20px;
}

.card img {
    height: 60px;
    width: 60px;
}

.card-1 {
    background-color: #ffeeee;
}
.card-2 {
    background-color: #fff4d6;
}
.card-3 {
    background-color: #edf5f6;
}

.card p {
    font-size: 18px;
    color: #707070;
    line-height: 25px;
}
.card-title {
    margin: 10px 0;
    font-size: 30px;
}

/* Get Our Updates Section */
#updates {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subscribe-section {
    height: 200px;
    width: 800px;
    background-color: #fff4d6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-btn {
    height: 60px;
    border: none;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: #ff5959;
    color: white;
    padding: 0 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

/* Footer Section */
footer {
    height: 200px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
}

footer h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
