* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Archivo", sans-serif;
}

#hero-section {
    background-image: url(../assets/images/donation2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero-content {
    text-align: center;
    z-index: 100;
}

.hero-content h1 {
    font-size: 70px;
    color: white;
}

.hero-content p {
    font-size: 20px;
    color: rgb(231, 231, 231);
}

button {
    padding: 17px 20px;
    background-color: #ff5959;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}
